# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List libraries commonly used in Data Science
* List data science  tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|mangoDB|
|Apache Hadoop|
|couchDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60
h = 200/60
print(h)

3.3333333333333335

## Author
Awwau Anidu